@import '../../styles/variables.scss';
@import '~bootstrap/scss/vendor/_rfs.scss';

.week-dropdown,
.module-dropdown {
  display: inline-block;
  button {
    width: 200px;
  }
}

.attendance-buttons {
  button {
    width: 200px;
  }
}

.overview-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.student-bubble {
  width: 200px;
  height: 200px;
  background-color: $cyf-red;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.student-bubble:hover {
  background-color: $cyf-grey;
}

.bubble-wrapper {
  margin-bottom: 4rem;
  text-align: center;
}

.form-check-input {
  width: 2em;
  height: 2em;
}

.student-title {
  @include font-size(4rem);
}

.student-name {
  font-size: 1.5rem;
  color: #fff;
}

.student-button {
  border: none;
  background-color: transparent;
}

.class-filter {
  display: block;
  .class-input {
    max-width: 20rem;
    width: 100%;
    margin: 0 auto 4rem auto;
  }
}

.class-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  flex-direction: column;
}

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .class-wrapper {
    flex-direction: row;
  }

  .class-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .class-input {
      margin: 0;
    }
  }

  .dropdown-buttons-wrapper {
    display: flex;
  }
}

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }
