@import "../../styles/variables.scss";
@import "~bootstrap/scss/vendor/_rfs.scss";

.region,
h1 {
	color: $cyf-grey;
	text-align: center;
}

.class-image {
	max-width: 339px;
	max-height: 200px;
}

.image-container {
	margin-bottom: 7rem;
}